<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('admin')}}">Home</a>
              </li>
              {% if not session.get("email") %}
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('login')}}">Login</a>
                </li>
                {% endif %}

                {% if session.get('email') %}
                  <li class="nav-item">
                  <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                </li>
                {% endif %}
     
          </div>
        </div>
      </nav>
    {% block conteudo %}

    {% endblock conteudo %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-2 text text-center" >
            {% include 'menssages.html' %}
        </div>
    </div>

    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>