{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-2">
            <h3 style="text-align: center;" >{{title}}</h3>
            <table class="table table-columns table-hover table-bordered">
                <thead>
                    <th>Serial</th>
                    <th>Name</th>
        
                    <th>Editar</th>
                    <th>Deletar</th>
                </thead>
        
                <tbody>
                    {% if marcas %}
                        {% for marca in marcas %}
                            <tr>
                                <td>{{marca.id}}</td>
                                <td>{{marca.name}}</td>
                                <td><a class="btn btn-sm btn-outline-primary" href="{{url_for('att_marca', id=marca.id)}}">Editar</a></td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{marca.id}}">
                                        Deletar
                                    </button>
                                </td>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop{{marca.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{marca.name}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Deseja excluir a fabricante {{marca.name}}?
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                        <a class="btn btn-danger" href="{{url_for('del_marca', id=marca.id)}}">Deletar</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    {% if categorias %}
                        {% for categoria in categorias %}
                            <tr>
                                <td>{{categoria.id}}</td>
                                <td>{{categoria.name}}</td>
                                <td><a class="btn btn-sm btn-outline-primary" href="{{url_for('att_categoria', id=categoria.id)}}">Editar</a></td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{categoria.id}}">
                                        Deletar
                                    </button>
                                </td>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop{{categoria.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{categoria.name}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Deseja excluir a categoria {{categoria.name}}?
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                        <a class="btn btn-danger" href="{{url_for('del_cat', id=categoria.id)}}">Deletar</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </tr>
                            
                        {% endfor %}
                    {% endif %}
                  
                </tbody>
            </table>
            {% if marcas %}
                <a class= 'btn btn-primary' href="{{url_for('add_marca')}}">Adicionar Marca</a>
            {% endif %}

            {% if categorias %}
                <a class= 'btn btn-primary' href="{{url_for('add_cat')}}">Adicionar categoria</a>
            {% endif %}
        
        </div>
    </div>
</div>
{% endblock conteudo %}