{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-2">
            <h3 style="text-align: center;" >{{title}}</h3>
            <table class="table table-columns table-hover table-bordered">
                <thead>
                    <th>Serial</th>
                    <th>Name</th>
        
                    <th>Editar</th>
                    <th>Deletar</th>
                </thead>
        
                <tbody>
                    {% if marcas %}
                        {% for marca in marcas %}
                            <tr>
                                <td>{{marca.id}}</td>
                                <td>{{marca.name}}</td>
                                <td><a class="btn btn-sm btn-outline-primary" href="{{url_for('att_marca', id=marca.id)}}">Editar</a></td>
                                <td><a class="btn btn-sm btn-outline-danger " href="">Deletar</a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    {% if categorias %}
                        {% for categoria in categorias %}
                            <tr>
                                <td>{{categoria.id}}</td>
                                <td>{{categoria.name}}</td>
                                <td><a class="btn btn-sm btn-outline-primary" href="{{url_for('att_categoria', id=categoria.id)}}">Editar</a></td>
                                <td><a class="btn btn-sm btn-outline-danger " href="">Deletar</a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        
        
        </div>
    </div>
</div>
{% endblock conteudo %}